@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #30da2a;
    color: black;
}

/* header section and make pick */

header>h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 20px;
}

header>p {
    font-size: 2rem;
    text-align: center;
}

.pick {
    font-size: 2rem;
    text-align: center;
    margin: 25px 0 25px 0;
}

/* rules section and selection buttons */

.rules {
    text-align: center;
    margin-top: 20px;
}

#btn-rules {
    background-color: black;
    color: yellow;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.5rem;

    border-radius: 50%;
    box-shadow: 4px 4px yellow;
}

#btn-rules:hover {
    color: black;
    background-color: yellow;
    cursor: pointer;
}

#btn-rules:active {
    box-shadow: 2px 2px yellow;
    transform: translateY(2px);
}

.buttons {
    text-align: center;
}

.btn {
    font-size: 7rem;
    border-radius: 50%;
    background-color: yellow;
    border: 2px dashed black;
    margin: 0 10px;
    padding: 15px;
    transition: all 0.25s ease-in-out;
}

.btn:hover {
    background-color: #ff00f7;
    cursor: pointer;
}

.btn>p {
    font-size: 1.25rem;
    font-weight: 500;
}

/* the user selection and computer selection */

.choices {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

/* display the winner and also the user and computer scores info */

.winner {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

#reason {
    margin-top: 5px;
}

.scores {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    gap: 5rem;
    justify-content: center;
}

/* rules modal */

#rules-content {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2rem;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 70%;
    background-color: rgb(255, 251, 0);
    border-radius: 20%;
    border: 10px solid #ff00f7;

    text-align: center;
    color: black;
    font-size: 1.5rem;
}

ol>li {
    list-style-type: none;
}

.close {
    color: black;
    float: right;
    right: 10%;
    position: absolute;
    font-size: 3.5rem;
}

.close:hover {
    cursor: pointer;
}

/* end of game modal and play again button */

#end-game-content {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2rem;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 30%;
    background-color: rgb(255, 251, 0);
    border-radius: 20%;
    border: 10px solid #ff00f7;

    text-align: center;
    color: black;
    font-size: 2rem;
}

#play-again {
    background-color: black;
    color: yellow;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.5rem;
    margin-top: 30px;

    border-radius: 40%;
    box-shadow: 4px 4px black;
}

#play-again:hover {
    color: black;
    background-color: yellow;
    cursor: pointer;
}

#play-again:active {
    box-shadow: 2px 2px yellow;
    transform: translateY(2px);
}

/* media queries for different screen sizes */

@media screen and (max-width:850px) {
    
    header>h1 {
        font-size: 2.5rem;
    }

    header>p {
        font-size: 2rem;
    }

    .pick {
        font-size: 2rem;
    }
}

/* medium size screens */

@media screen and (max-width:790px) {
    
    #rules-content {
        left: 5%;
        right: 5%;
        width: 90%;
        height: 80vh;
        font-size: 1.5rem;
    }

    .close {
        right: 5%;
    }
}

/* for smaller mobile devices */

@media screen and (max-width:460px) {
    
    .btn {
        font-size: 5rem;
        color: black;
        margin-top: 5px;
    }

    header>h1 {
        font-size: 2rem;
    }

    header>p {
        font-size: 1.5rem;
    }

    .pick {
        font-size: 1.5rem;
    }

    .scores {
        gap: 2rem;
    }

    #rules-content {
        font-size: 1.25rem;
        height: 70vh;
    }

    .close {
        position: relative;
    }

    #end-game-content {
        font-size: 1.25rem;
    }
}
