@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #30da2a;
    color: black;
}

/* header section, rules and make pick */

header>h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 20px;
}

header>p {
    font-size: 2rem;
    text-align: center;
}

.pick {
    font-size: 2rem;
    text-align: center;
    margin: 25px 0 25px 0;
}

/* buttons */

.rules {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
}

.btn-rules {
    background-color: transparent;
    color: orangered;
    border: 2px solid black;
    padding: 10px;

    border-radius: 50%;
    box-shadow: 4px 4px yellow;
}

.btn-rules:hover {
    color: black;
    background-color: orangered;
    cursor: pointer;
}

.btn-rules:active {
    box-shadow: 2px 2px yellow;
    transform: translateY(2px);
}

.buttons {
    text-align: center;
}

.btn {
    font-size: 7rem;
    border-radius: 50%;
    background-color: yellow;
    border: 2px dashed black;
    margin: 0 10px;
    padding: 10px;
    transition: all 0.25s ease-in-out;
}

.btn:hover {
    background-color: #ff00f7;
    cursor: pointer;
}

/* the user selection and computer selection */

.choices {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

/* display the winner, user and computer scores info */

.winner {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

#reason {
    margin-top: 5px;
}

.scores {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;

    display: flex;
    gap: 5rem;
    /* align-items: center; */
    justify-content: center;
}